flows.json
[{"id":"908823.c2b207e","type":"tab","label":"Hello","disabled":false,"info":""},{"id":"44e6d155.249dc","type":"tab","label":"Servidor Arduino","disabled":false,"info":""},{"id":"1503d7d5.73c228","type":"tab","label":"Fakebot","disabled":false,"info":""},{"id":"7e45625e.b1d76c","type":"tab","label":"Profbot","disabled":false,"info":""},{"id":"6cd732bd.750b5c","type":"tab","label":"Voicebot","disabled":false,"info":""},{"id":"97ac6e38.b27d7","type":"tab","label":"Adaptador de webhook","disabled":false,"info":""},{"id":"a3e4c64.4b42438","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c1f4c283.e47c","type":"tab","label":"Serviço de previsão do tempo","disabled":false,"info":""},{"id":"e161e587.35e7f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b0bcf93d.972268","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fbe397e5.dc2828","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8278c192.cc9cf","type":"ibmiot","z":"","name":"Api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e756db3d.b40c68","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4a900860.31b0a8","type":"ibmiot","z":"","name":"Api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"7d2bf1a2.5dbc7","type":"ibmiot","z":"","name":"iot","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"8658c764.3ff1e8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d33f5450.c4feb8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87299f99.e52e5","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a2578828.aec7d8","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6951c479.03a9cc","type":"http in","z":"908823.c2b207e","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":173,"y":84,"wires":[["a486963e.2c2fd8"]]},{"id":"a486963e.2c2fd8","type":"template","z":"908823.c2b207e","name":"Boas vindas","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1>Seja bem vindo!!</h1>\n\n<p>Seu IP é {{req.ip}}.</p>\n\n</body>\n</html>\n","output":"str","x":301,"y":159,"wires":[["77672175.e8c4c"]]},{"id":"77672175.e8c4c","type":"http response","z":"908823.c2b207e","name":"","statusCode":"","headers":{},"x":349,"y":215,"wires":[]},{"id":"9aa7f065.51b","type":"http in","z":"1503d7d5.73c228","name":"","url":"/fakebot","method":"get","upload":false,"swaggerDoc":"","x":96,"y":112,"wires":[["856c4769.570368"]]},{"id":"ead04f65.15dff","type":"template","z":"1503d7d5.73c228","name":"Dialog Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html> <body>\n\t<h2>Fakebot Page!</h2>\n\t<form method=\"POST\">  \n\t\tDiálogo:<br>  \n\t\t<textarea name=\"dialog\" readonly rows=\"30\" cols=\"80\"> {{payload}}\n\t\t</textarea> <br>\n\t\tPergunta:<br>\n\t\t<input type=\"text\" name=\"question\" > <br><br>\n\t\t<input type=\"submit\" value=\"Enviar\">\n\t</form>\n\t<form method=\"GET\"> \n\t\t<input type=\"submit\" value=\"Limpar\">\n\t</form>\n</body> </html>\n","output":"str","x":502,"y":127,"wires":[["be642d09.2004"]]},{"id":"f82ebd10.ba456","type":"comment","z":"1503d7d5.73c228","name":"1","info":"","x":84,"y":72,"wires":[]},{"id":"d9b5c396.bcbb8","type":"http in","z":"1503d7d5.73c228","name":"","url":"/fakebot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["e9dc4254.5a047","b718021.fa0f1"]]},{"id":"c0f98bc3.04d1e8","type":"function","z":"1503d7d5.73c228","name":"Fake Watson","func":"if(msg.payload) {\n    msg.payload = \"Você perguntou: \" + msg.payload;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["d3d74672.4a7b38","484401d0.37342"]]},{"id":"3045835.8d3587c","type":"comment","z":"1503d7d5.73c228","name":"2","info":"","x":70,"y":240,"wires":[]},{"id":"e9dc4254.5a047","type":"change","z":"1503d7d5.73c228","name":"Guarda variáveis","rules":[{"t":"set","p":"dialog","pt":"flow","to":"payload.dialog","tot":"msg"},{"t":"set","p":"question","pt":"flow","to":"payload.question","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.question","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":460,"wires":[["c0f98bc3.04d1e8"]]},{"id":"d3d74672.4a7b38","type":"function","z":"1503d7d5.73c228","name":"Concatenate Dialog","func":"var text = \"\";\nif(flow.get(\"dialog\")) text += flow.get(\"dialog\");\nif(flow.get(\"question\")) text += \"\\nVocê: \" + flow.get('question')\ntext += \"\\nBot: \"  + msg.payload;\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["ead04f65.15dff","4f854347.47385c"]]},{"id":"be642d09.2004","type":"http response","z":"1503d7d5.73c228","name":"","statusCode":"","headers":{},"x":657,"y":127,"wires":[]},{"id":"4800664c.1e7718","type":"comment","z":"1503d7d5.73c228","name":"3","info":"","x":250,"y":420,"wires":[]},{"id":"3b312b9b.6f06c4","type":"comment","z":"1503d7d5.73c228","name":"4","info":"","x":530,"y":380,"wires":[]},{"id":"14e20e5.fd5b1f2","type":"http in","z":"7e45625e.b1d76c","name":"","url":"/profbot","method":"get","upload":false,"swaggerDoc":"","x":97,"y":79,"wires":[["132404b1.eb247b"]]},{"id":"88574d64.c85ef","type":"template","z":"7e45625e.b1d76c","name":"Dialog Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h2>ProfBot Page!</h2>\n\n<form action=\"/profbot\" method=\"POST\">\n  <input type=\"hidden\" name=\"session_id\"\n    value=\"{{session_id}}\">\n  Diálogo:<br>\n  <textarea name=\"dialog\" readonly rows=\"30\" cols=\"80\">{{payload}}</textarea>\n  <br>\n  Pergunta:<br>\n  <input type=\"text\" name=\"question\" >\n  <br><br>\n  <input type=\"submit\" value=\"Enviar\">\n</form>\n<form action=\"/profbot\" method=\"GET\">\n  <input type=\"submit\" value=\"Limpar\">\n</form>\n\n</body>\n</html>","output":"str","x":830,"y":260,"wires":[["d313e536.5fd6a8"]]},{"id":"ceecc490.1cee78","type":"comment","z":"7e45625e.b1d76c","name":"1","info":"","x":85,"y":39,"wires":[]},{"id":"b40065e5.c39e58","type":"http in","z":"7e45625e.b1d76c","name":"","url":"/profbot","method":"post","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["d0425406.060ac8","22ed84b6.dd834c"]]},{"id":"66a97e39.251a9","type":"comment","z":"7e45625e.b1d76c","name":"2","info":"","x":90,"y":180,"wires":[]},{"id":"d0425406.060ac8","type":"change","z":"7e45625e.b1d76c","name":"Guarda variáveis","rules":[{"t":"set","p":"dialog","pt":"flow","to":"payload.dialog","tot":"msg"},{"t":"set","p":"question","pt":"flow","to":"payload.question","tot":"msg"},{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.session_id","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"question","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":360,"wires":[["37e2c5ec.0b35fa","fa8a5c0d.c2a81"]]},{"id":"9848e05d.aed96","type":"function","z":"7e45625e.b1d76c","name":"Concatenate Dialog","func":"var text = \"\";\nif(flow.get(\"dialog\")) text += flow.get(\"dialog\");\nif(flow.get(\"question\")) text += \"\\nVocê: \" + flow.get('question')\ntext += \"\\nBot: \"  + msg.payload;\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["88574d64.c85ef"]]},{"id":"d313e536.5fd6a8","type":"http response","z":"7e45625e.b1d76c","name":"","statusCode":"","headers":{},"x":850,"y":100,"wires":[]},{"id":"132404b1.eb247b","type":"change","z":"7e45625e.b1d76c","name":"Limpa variáveis","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"dialog","pt":"flow","to":"","tot":"str"},{"t":"set","p":"question","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":46,"wires":[["37e2c5ec.0b35fa"]]},{"id":"f8e47671.af0b58","type":"comment","z":"7e45625e.b1d76c","name":"3","info":"","x":250,"y":300,"wires":[]},{"id":"3a539da3.ece1d2","type":"comment","z":"7e45625e.b1d76c","name":"4","info":"","x":650,"y":300,"wires":[]},{"id":"856c4769.570368","type":"change","z":"1503d7d5.73c228","name":"Limpa variáveis","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"delete","p":"dialog","pt":"flow"},{"t":"delete","p":"question","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["c0f98bc3.04d1e8"]]},{"id":"710160f9.ea3b2","type":"http in","z":"97ac6e38.b27d7","name":"","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":100,"y":180,"wires":[["fb2d199e.30b6b8","b137968f.697688"]]},{"id":"fb2d199e.30b6b8","type":"switch","z":"97ac6e38.b27d7","name":"Selcionar ação","property":"payload.acao","propertyType":"msg","rules":[{"t":"eq","v":"previsao","vt":"str"},{"t":"eq","v":"cotacao","vt":"str"},{"t":"eq","v":"ligar_led","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":260,"y":240,"wires":[["c5192890.a48ee"],["6f8e0b2e.9f8c44"],["952dc0dc.944fd"],["31f419a2.89d236"]]},{"id":"922eea0b.354698","type":"http response","z":"97ac6e38.b27d7","name":"","statusCode":"200","headers":{},"x":1160,"y":300,"wires":[]},{"id":"37e2c5ec.0b35fa","type":"watson-assistant-v2","z":"7e45625e.b1d76c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"23ffa7aa-44a1-451c-997d-12c3d6cdab7f","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":470,"y":260,"wires":[["b5de5ea5.b4667","483393cf.1257dc"]]},{"id":"b5de5ea5.b4667","type":"function","z":"7e45625e.b1d76c","name":"Gera resposta de texto","func":"var text = \"\";\nfor(const rsp of msg.payload.output.generic) {\n    if(rsp.response_type ===\"text\") {\n        text += rsp.text + '\\n';\n    } else if(rsp.response_type ===\"option\") {\n        text += rsp.title + '\\n';\n        for(const opt of rsp.options) {\n            text += '\\t' + opt.label + ': ';\n            text += opt.value.input.text + '\\n';\n        }\n    }\n}\n\n//Salva o ID da sessão\nmsg.session_id = msg.payload.session_id;\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["9848e05d.aed96"]]},{"id":"7332efc6.e8ba78","type":"http in","z":"c1f4c283.e47c","name":"","url":"/weather/location/:location/date/:date","method":"get","upload":false,"swaggerDoc":"","x":200,"y":120,"wires":[["5010133e.284d34","88598101.725928"]]},{"id":"5010133e.284d34","type":"switch","z":"c1f4c283.e47c","name":"Selcionar cidade","property":"req.params.location","propertyType":"msg","rules":[{"t":"eq","v":"São Paulo","vt":"str"},{"t":"eq","v":"Boston","vt":"str"},{"t":"eq","v":"Madrid","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":230,"y":340,"wires":[["70febcd2.e8f31c"],["ebdfa0d0.0ac71"],["3f1601f.ef0627e"],["e5c5ca76.6f9cc8"]]},{"id":"3f1601f.ef0627e","type":"switch","z":"c1f4c283.e47c","name":"Tempo para Madrid","property":"req.params.date","propertyType":"msg","rules":[{"t":"eq","v":"2019-08-31","vt":"str"},{"t":"eq","v":"2019-09-01","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":500,"y":420,"wires":[["a7b9db04.5bb4a8"],["a4b07960.92f39"],["838e53a0.55a62"]]},{"id":"e5c5ca76.6f9cc8","type":"change","z":"c1f4c283.e47c","name":"Cidade desconhecida","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"Desconhecido","tot":"str"},{"t":"set","p":"payload.error","pt":"msg","to":"Cidade desconhecida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["5c8c1d52.cf20b4"]]},{"id":"b0eb995a.ee9728","type":"change","z":"c1f4c283.e47c","name":"Boston em 31/08/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"chovendo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["5c8c1d52.cf20b4"]]},{"id":"670dbbc.8e70844","type":"change","z":"c1f4c283.e47c","name":"São Paulo em 31/08/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"chovendo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":120,"wires":[["5c8c1d52.cf20b4"]]},{"id":"a7b9db04.5bb4a8","type":"change","z":"c1f4c283.e47c","name":"Madri em 31/08/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"ensolarado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["5c8c1d52.cf20b4"]]},{"id":"838e53a0.55a62","type":"change","z":"c1f4c283.e47c","name":"Data inválida","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"Desconhecido","tot":"str"},{"t":"set","p":"payload.error","pt":"msg","to":"Data inválida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":620,"wires":[["5c8c1d52.cf20b4"]]},{"id":"5c8c1d52.cf20b4","type":"http response","z":"c1f4c283.e47c","name":"","statusCode":"","headers":{},"x":1150,"y":200,"wires":[]},{"id":"88598101.725928","type":"debug","z":"c1f4c283.e47c","name":"","active":true,"console":"false","complete":"true","x":570,"y":40,"wires":[]},{"id":"a4b07960.92f39","type":"change","z":"c1f4c283.e47c","name":"Madri em 01/09/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"seco e ensolarado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["5c8c1d52.cf20b4"]]},{"id":"ebdfa0d0.0ac71","type":"switch","z":"c1f4c283.e47c","name":"Tempo para Boston","property":"req.params.date","propertyType":"msg","rules":[{"t":"eq","v":"2019-08-31","vt":"str"},{"t":"eq","v":"2019-09-01","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":500,"y":320,"wires":[["b0eb995a.ee9728"],["57bc0341.3b4244"],["838e53a0.55a62"]]},{"id":"70febcd2.e8f31c","type":"switch","z":"c1f4c283.e47c","name":"Tempo para São Paulo","property":"req.params.date","propertyType":"msg","rules":[{"t":"eq","v":"2019-08-31","vt":"str"},{"t":"eq","v":"2019-09-01","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":510,"y":220,"wires":[["670dbbc.8e70844"],["ca84b02c.81f968"],["838e53a0.55a62"]]},{"id":"ca84b02c.81f968","type":"change","z":"c1f4c283.e47c","name":"São Paulo em 01/09/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"sol entre nuvens","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":180,"wires":[["5c8c1d52.cf20b4"]]},{"id":"57bc0341.3b4244","type":"change","z":"c1f4c283.e47c","name":"Boston em 01/09/2019","rules":[{"t":"set","p":"payload.forecast","pt":"msg","to":"fortes temporais","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[["5c8c1d52.cf20b4"]]},{"id":"c5192890.a48ee","type":"template","z":"97ac6e38.b27d7","name":"Adapta a chamada para o serviço de previsão","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://antonio-server.mybluemix.net/weather/location/{{payload.cidade}}/date/{{payload.data}}","output":"str","x":580,"y":160,"wires":[["1c57d4cd.e4142b"]]},{"id":"1c57d4cd.e4142b","type":"http request","z":"97ac6e38.b27d7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":830,"y":40,"wires":[["d223e876.b6db28"]]},{"id":"d223e876.b6db28","type":"change","z":"97ac6e38.b27d7","name":"Adapta a saída do serviço para o chatbot","rules":[{"t":"move","p":"payload.error","pt":"msg","to":"payload.erro","tot":"msg"},{"t":"move","p":"payload.forecast","pt":"msg","to":"payload.previsao","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":140,"wires":[["922eea0b.354698"]]},{"id":"ea1fccc6.cfdf7","type":"comment","z":"97ac6e38.b27d7","name":"Realiza a chamada à URL do serviço","info":"","x":1090,"y":100,"wires":[]},{"id":"31cb1f35.c55228","type":"comment","z":"97ac6e38.b27d7","name":"Invoca o serviço correto dependendo da acao","info":"","x":210,"y":340,"wires":[]},{"id":"31f419a2.89d236","type":"change","z":"97ac6e38.b27d7","name":"Ação desconhecida","rules":[{"t":"set","p":"payload.erro","pt":"msg","to":"Ação desconhecida","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":420,"wires":[["922eea0b.354698"]]},{"id":"81612f86.ee27e","type":"comment","z":"1503d7d5.73c228","name":"5","info":"","x":270,"y":140,"wires":[]},{"id":"2ca05e55.d60df2","type":"comment","z":"1503d7d5.73c228","name":"6","info":"","x":390,"y":260,"wires":[]},{"id":"ac5153f4.4758b8","type":"comment","z":"1503d7d5.73c228","name":"7","info":"","x":510,"y":80,"wires":[]},{"id":"b718021.fa0f1","type":"debug","z":"1503d7d5.73c228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":100,"y":380,"wires":[]},{"id":"484401d0.37342","type":"debug","z":"1503d7d5.73c228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":260,"wires":[]},{"id":"4f854347.47385c","type":"debug","z":"1503d7d5.73c228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":500,"wires":[]},{"id":"19ce36b4.5874b9","type":"watson-speech-to-text","z":"6cd732bd.750b5c","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"zm0dBRLeFYO0OmzmngcosioJyaGlF0R7BihesYNE-Dk9","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":620,"y":720,"wires":[["d82405b1.becca","8f96fdbd.fd4968"]]},{"id":"483393cf.1257dc","type":"debug","z":"7e45625e.b1d76c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":140,"wires":[]},{"id":"22ed84b6.dd834c","type":"debug","z":"7e45625e.b1d76c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":180,"wires":[]},{"id":"fa8a5c0d.c2a81","type":"debug","z":"7e45625e.b1d76c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":440,"wires":[]},{"id":"a4ec1ff.a85d6e","type":"http in","z":"a3e4c64.4b42438","name":"","url":"/webhook_cambio","method":"post","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["8af4c10c.fea4"]]},{"id":"8af4c10c.fea4","type":"template","z":"a3e4c64.4b42438","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.exchangeratesapi.io/{{payload.date}}?symbols=BRL&base={{payload.currency}}","output":"str","x":380,"y":140,"wires":[["b1214163.2652c","8626416e.7cd34"]]},{"id":"b1214163.2652c","type":"http request","z":"a3e4c64.4b42438","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":410,"y":240,"wires":[["40ef6fc6.b3e8e"]]},{"id":"40ef6fc6.b3e8e","type":"http response","z":"a3e4c64.4b42438","name":"","statusCode":"","headers":{},"x":570,"y":160,"wires":[]},{"id":"8626416e.7cd34","type":"debug","z":"a3e4c64.4b42438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":60,"wires":[]},{"id":"b137968f.697688","type":"debug","z":"97ac6e38.b27d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":100,"wires":[]},{"id":"6f8e0b2e.9f8c44","type":"template","z":"97ac6e38.b27d7","name":"Adapta a chamada para o serviço de cotação","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.exchangeratesapi.io/{{payload.data}}?symbols=BRL&base={{payload.moeda}}","output":"str","x":590,"y":220,"wires":[["1d269398.82b1ec"]]},{"id":"1d269398.82b1ec","type":"http request","z":"97ac6e38.b27d7","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":880,"y":240,"wires":[["922eea0b.354698","375f727f.46fca6"]]},{"id":"d82405b1.becca","type":"debug","z":"6cd732bd.750b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":720,"wires":[]},{"id":"6dacea75.b369cc","type":"http in","z":"6cd732bd.750b5c","name":"","url":"/stt","method":"post","upload":true,"swaggerDoc":"","x":120,"y":720,"wires":[["5cc15da3.3664ec"]]},{"id":"6f1e5f25.a2c828","type":"debug","z":"6cd732bd.750b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":860,"wires":[]},{"id":"5cc15da3.3664ec","type":"change","z":"6cd732bd.750b5c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":720,"wires":[["19ce36b4.5874b9","6f1e5f25.a2c828"]]},{"id":"7e853f62.bb1dc","type":"http response","z":"6cd732bd.750b5c","name":"","statusCode":"","headers":{},"x":1030,"y":840,"wires":[]},{"id":"8f96fdbd.fd4968","type":"change","z":"6cd732bd.750b5c","name":"","rules":[{"t":"set","p":"res.headers","pt":"msg","to":"{\"Access-Control-Allow-Origin\":\"*\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["7e853f62.bb1dc"]]},{"id":"71fa6ee0.f278a","type":"http in","z":"44e6d155.249dc","name":"","url":"/deviceId/arduino00/sensor/luz","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["6f80cac8.85e414"]]},{"id":"50303a94.51b41c","type":"mqtt in","z":"44e6d155.249dc","name":"","topic":"fiap/arduino00/sensor/luz","qos":"0","datatype":"auto","broker":"d33f5450.c4feb8","x":270,"y":100,"wires":[["9e911b65.15cab8"]]},{"id":"9e911b65.15cab8","type":"change","z":"44e6d155.249dc","name":"","rules":[{"t":"set","p":"luz","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[[]]},{"id":"6f80cac8.85e414","type":"change","z":"44e6d155.249dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"luz","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["7840d3dd.f81fa4"]]},{"id":"7840d3dd.f81fa4","type":"http response","z":"44e6d155.249dc","name":"","statusCode":"","headers":{},"x":730,"y":180,"wires":[]},{"id":"2b590773.262fa","type":"http in","z":"44e6d155.249dc","name":"","url":"/deviceId/arduino00/cmd/led","method":"post","upload":false,"swaggerDoc":"","x":260,"y":260,"wires":[["64a3a8a8.ea61e","a0773289.83838","105072d0.4a74dd"]]},{"id":"64a3a8a8.ea61e","type":"http response","z":"44e6d155.249dc","name":"","statusCode":"","headers":{},"x":390,"y":360,"wires":[]},{"id":"a0773289.83838","type":"mqtt out","z":"44e6d155.249dc","name":"","topic":"fiap/arduino00/sensor/cmd/led","qos":"2","retain":"","broker":"d33f5450.c4feb8","x":660,"y":280,"wires":[]},{"id":"b9989a3a.8d239","type":"inject","z":"44e6d155.249dc","name":"","topic":"","payload":"{\"value\": 255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":500,"wires":[["4d4647c.1c641b8"]]},{"id":"4d4647c.1c641b8","type":"http request","z":"44e6d155.249dc","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://antonio-server.mybluemix.net/deviceId/arduino00/cmd/led","tls":"","proxy":"","authType":"","x":490,"y":520,"wires":[["33da73b6.507f34"]]},{"id":"33da73b6.507f34","type":"debug","z":"44e6d155.249dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":480,"wires":[]},{"id":"c1a56539.5d24a","type":"comment","z":"44e6d155.249dc","name":"Testes das chamadas à API ","info":"","x":280,"y":440,"wires":[]},{"id":"1bc1797e.edfbdf","type":"inject","z":"44e6d155.249dc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":580,"wires":[["4788c555.63437c"]]},{"id":"4788c555.63437c","type":"http request","z":"44e6d155.249dc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://antonio-server.mybluemix.net/deviceId/arduino00/sensor/luz","tls":"","proxy":"","authType":"","x":490,"y":600,"wires":[["692de5d6.bfd414"]]},{"id":"692de5d6.bfd414","type":"debug","z":"44e6d155.249dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":560,"wires":[]},{"id":"7c3cb042.7079b8","type":"http in","z":"6cd732bd.750b5c","name":"","url":"/voicebot","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["d0151e08.c3d148"]]},{"id":"6afe37ef.795ef8","type":"template","z":"6cd732bd.750b5c","name":"Dialog Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n    <script src=\"https://antonio-server.mybluemix.net/sttcall.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js\"></script>\n    </head>\n<body>\n\n<h2>VoiceBot Page!</h2>\n<p>Você pode clicar em \"Voz\" para dizer sua pergunta,\n   e clicar novamente para finalizar, clicando depois em \n   \"Enviar\".\n</p>\n\n<form method=\"POST\">\n  <input type=\"hidden\" name=\"session_id\"\n    value=\"{{session_id}}\">\n  Diálogo:<br>\n  <textarea name=\"dialog\" readonly rows=\"30\" cols=\"80\">{{payload}}</textarea>\n  <br>\n  Pergunta:<br>\n  <input type=\"text\" id=\"question123\" name=\"question\" >\n  <br><br>\n  <input type=\"submit\" value=\"Enviar\">\n  <input type=\"button\" id=\"stt123\" value=\"Voz\">\n</form>\n<form method=\"GET\">\n  <input type=\"submit\" value=\"Limpar\">\n</form>\n</body>\n</html>","output":"str","x":883,"y":401,"wires":[["47008485.f1e6ac"]]},{"id":"aad899c7.0fb2a","type":"http in","z":"6cd732bd.750b5c","name":"","url":"/voicebot","method":"post","upload":false,"swaggerDoc":"","x":153,"y":381,"wires":[["eb501198.384e4","979725b6.49fef8"]]},{"id":"eb501198.384e4","type":"change","z":"6cd732bd.750b5c","name":"Guarda variáveis","rules":[{"t":"set","p":"dialog","pt":"flow","to":"payload.dialog","tot":"msg"},{"t":"set","p":"question","pt":"flow","to":"payload.question","tot":"msg"},{"t":"set","p":"params","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"params.session_id","pt":"msg","to":"payload.session_id","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"question","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":303,"y":501,"wires":[["ee4410e4.2876d","860b877.85039f8"]]},{"id":"ffd293d4.58d468","type":"function","z":"6cd732bd.750b5c","name":"Concatenate Dialog","func":"var text = \"\";\nif(flow.get(\"dialog\")) text += flow.get(\"dialog\");\nif(flow.get(\"question\")) text += \"\\nVocê: \" + flow.get('question')\ntext += \"\\nBot: \"  + msg.payload;\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":743,"y":481,"wires":[["6afe37ef.795ef8"]]},{"id":"47008485.f1e6ac","type":"http response","z":"6cd732bd.750b5c","name":"","statusCode":"","headers":{},"x":903,"y":241,"wires":[]},{"id":"d0151e08.c3d148","type":"change","z":"6cd732bd.750b5c","name":"Limpa variáveis","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"dialog","pt":"flow","to":"","tot":"str"},{"t":"set","p":"question","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":353,"y":187,"wires":[["ee4410e4.2876d"]]},{"id":"ee4410e4.2876d","type":"watson-assistant-v2","z":"6cd732bd.750b5c","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"e02e6840-1f2f-4621-9c1c-1867eccb307b","debug":false,"restart":false,"return_context":false,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":523,"y":401,"wires":[["5d0ccc1d.d1b8e4","fe3e84e0.05abe8"]]},{"id":"5d0ccc1d.d1b8e4","type":"function","z":"6cd732bd.750b5c","name":"Gera resposta de texto","func":"var text = \"\";\nfor(const rsp of msg.payload.output.generic) {\n    if(rsp.response_type ===\"text\") {\n        text += rsp.text + '\\n';\n    } else if(rsp.response_type ===\"option\") {\n        text += rsp.title + '\\n';\n        for(const opt of rsp.options) {\n            text += '\\t' + opt.label + ': ';\n            text += opt.value.input.text + '\\n';\n        }\n    }\n}\n\n//Salva o ID da sessão\nmsg.session_id = msg.payload.session_id;\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["ffd293d4.58d468"]]},{"id":"fe3e84e0.05abe8","type":"debug","z":"6cd732bd.750b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":603,"y":281,"wires":[]},{"id":"979725b6.49fef8","type":"debug","z":"6cd732bd.750b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":273,"y":321,"wires":[]},{"id":"860b877.85039f8","type":"debug","z":"6cd732bd.750b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":343,"y":581,"wires":[]},{"id":"b69954b9.6cc7a","type":"http in","z":"908823.c2b207e","name":"","url":"/sttcall.js","method":"get","upload":false,"swaggerDoc":"","x":150,"y":360,"wires":[["f7ed2eb2.b860b"]]},{"id":"f7ed2eb2.b860b","type":"template","z":"908823.c2b207e","name":"sttcall.js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"document.addEventListener(\"DOMContentLoaded\", function(event) {\n\nlet shouldStop = false;\nlet stopped = true;\nconst button = document.getElementById('stt123');\nconst input = document.getElementById('question123');\nbutton.style.borderStyle = \"outset\";\n  \nvar handleSuccess = function(stream) {\n    \n    const options = {mimeType:'audio/webm;codecs=opus'};\n    const recordedChunks = [];\n    \n    button.addEventListener('click', function() {\n        if(stopped) {\n            //Inicia MediaRecorder e seta botão como pressionado\n            const mediaRecorder = new MediaRecorder(stream, options);\n            mediaRecorder.ondataavailable =  function(e) {\n                if (e.data.size > 0) {\n                    recordedChunks.push(e.data);\n                }\n                if(shouldStop === true && stopped === false) {\n                    mediaRecorder.stop();\n                    stopped = true;\n                    button.style.borderStyle = \"outset\";\n                }\n            };\n\n            mediaRecorder.addEventListener('stop', function() {\n    \t        var soundBlob = new Blob(recordedChunks, {type:'audio/webm;codecs=opus'});\n                var fd = new FormData();\n\t\t        fd.append('data', soundBlob);\n\t\t        $.ajax({\n    \t\t        type: 'POST',\n    \t\t        url: '/stt',\n    \t\t        data: fd,\n    \t\t        processData: false,\n    \t\t        contentType: false\n  \t\t        }).done(function(data) {\n        \t        input.value=data;\n\t\t        });\n            });\n\n            mediaRecorder.start(500);\n            stopped = false;\n            shouldStop = false;\n            button.style.borderStyle = \"inset\";\n        } else {\n            shouldStop = true;\n        }\n    });\n};\n\nnavigator.mediaDevices.getUserMedia({ audio: true, video: false })\n    .then(handleSuccess);\n    \n});\n","output":"str","x":380,"y":400,"wires":[["50bf50b0.4f347"]]},{"id":"50bf50b0.4f347","type":"http response","z":"908823.c2b207e","name":"","statusCode":"","headers":{},"x":600,"y":360,"wires":[]},{"id":"aa5457e0.92b7a8","type":"template","z":"97ac6e38.b27d7","name":"Adapta a chamada para o serviço de ligar led","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://antonio-server.mybluemix.net/deviceId/arduino00/cmd/led","output":"str","x":690,"y":360,"wires":[["d251b6fa.f63688"]]},{"id":"d251b6fa.f63688","type":"http request","z":"97ac6e38.b27d7","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":890,"y":320,"wires":[["922eea0b.354698"]]},{"id":"105072d0.4a74dd","type":"debug","z":"44e6d155.249dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"952dc0dc.944fd","type":"function","z":"97ac6e38.b27d7","name":"Transforma value de string para int","func":"msg.payload.value = parseInt(msg.payload.value);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["aa5457e0.92b7a8"]]},{"id":"375f727f.46fca6","type":"debug","z":"97ac6e38.b27d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":220,"wires":[]}]